In [11]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [26]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [27]:
movies = pd.read_csv("Movie+Assignment+Data.csv")

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [13]:
print(movies.info())
print(movies.columns)
print(movies.shape)
print(movies.describe())
print(movies.values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
(5043, 28)
       num_critic_for_reviews     duration  director_facebook_likes  \
count             4993.000000  5028.000000              4939.000000
mean               140.194272   107.201074               686.509212
std                121.601675    25.197441              2813.328607
min                  1.000000     7.000000                 0.000000
25%                 50.000000    93.000000                 7.000000
50%                110.000000   103.000000                49.000000
75%                195.000000   118.000000               194.500000
max                813.000000   511.000000             23000.000000

       actor_3_facebook_likes  actor_1_facebook_likes         gross  \
count             5020.000000             5036.000000  4.159000e+03
mean               645.009761             6560.047061  4.846841e+07
std               1665.041728            15020.759120  6.845299e+07
min                  0.000000                0.000000  1.620000e+02
25%                133.000000              614.000000  5.340988e+06
50%                371.500000              988.000000  2.551750e+07
75%                636.000000            11000.000000  6.230944e+07
max              23000.000000           640000.000000  7.605058e+08

       num_voted_users  cast_total_facebook_likes  facenumber_in_poster  \
count     5.043000e+03                5043.000000           5030.000000
mean      8.366816e+04                9699.063851              1.371173
std       1.384853e+05               18163.799124              2.013576
min       5.000000e+00                   0.000000              0.000000
25%       8.593500e+03                1411.000000              0.000000
50%       3.435900e+04                3090.000000              1.000000
75%       9.630900e+04               13756.500000              2.000000
max       1.689764e+06              656730.000000             43.000000

       num_user_for_reviews        budget   title_year  \
count           5022.000000  4.551000e+03  4935.000000
mean             272.770808  3.975262e+07  2002.470517
std              377.982886  2.061149e+08    12.474599
min                1.000000  2.180000e+02  1916.000000
25%               65.000000  6.000000e+06  1999.000000
50%              156.000000  2.000000e+07  2005.000000
75%              326.000000  4.500000e+07  2011.000000
max             5060.000000  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio  movie_facebook_likes
count             5030.000000  5043.000000   4714.000000           5043.000000
mean              1651.754473     6.442138      2.220403           7525.964505
std               4042.438863     1.125116      1.385113          19320.445110
min                  0.000000     1.600000      1.180000              0.000000
25%                281.000000     5.800000      1.850000              0.000000
50%                595.000000     6.600000      2.350000            166.000000
75%                918.000000     7.200000      2.350000           3000.000000
max             137000.000000     9.500000     16.000000         349000.000000
[['Color' 'James Cameron' 723.0 ... 7.9 1.78 33000]
 ['Color' 'Gore Verbinski' 302.0 ... 7.1 2.35 0]
 ['Color' 'Sam Mendes' 602.0 ... 6.8 2.35 85000]
 ...
 ['Color' 'Benjamin Roberds' 13.0 ... 6.3 nan 16]
 ['Color' 'Daniel Hsia' 14.0 ... 6.3 2.35 660]
 ['Color' 'Jon Gunn' 43.0 ... 6.6 1.85 456]]

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [28]:
# Write your code for column-wise null count 

movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [29]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [30]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum()/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [31]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations
movies=movies.drop(['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes',
                    'actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'],axis=1)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [32]:
# Write your code for dropping the rows here


movies=movies[movies.isnull().sum(axis=1)<=5]
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name              2.02
num_critic_for_reviews     0.91
gross                     17.46
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.34
language                   0.20
budget                     9.68
title_year                 2.06
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [33]:
# Write your code for dropping the rows here
movies=movies[~np.isnan(movies['gross'])]
movies=movies[~np.isnan(movies['budget'])]
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [34]:
# Write your code for filling the NaN values in the 'language' column here
movies['language'].fillna("English",inplace=True)
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.00
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [36]:
# Write your code for checking number of retained rows here
len(movies.index)/5043

           budget        gross
0     237000000.0  760505847.0
1     300000000.0  309404152.0
2     245000000.0  200074175.0
3     250000000.0  448130642.0
5     263700000.0   73058679.0
6     258000000.0  336530303.0
7     260000000.0  200807262.0
8     250000000.0  458991599.0
9     250000000.0  301956980.0
10    250000000.0  330249062.0
11    209000000.0  200069408.0
12    200000000.0  168368427.0
13    225000000.0  423032628.0
14    215000000.0   89289910.0
15    225000000.0  291021565.0
16    225000000.0  141614023.0
17    220000000.0  623279547.0
18    250000000.0  241063875.0
19    225000000.0  179020854.0
20    250000000.0  255108370.0
21    230000000.0  262030663.0
22    200000000.0  105219735.0
23    225000000.0  258355354.0
24    180000000.0   70083519.0
25    207000000.0  218051260.0
26    200000000.0  658672302.0
27    250000000.0  407197282.0
28    209000000.0   65173160.0
29    150000000.0  652177271.0
30    200000000.0  304360277.0
...           ...          ...
4959     100000.0    5228617.0
4962      40000.0     110536.0
4964     200000.0      59379.0
4971   15000000.0   32721635.0
4973      60000.0    3216970.0
4975      60000.0     536767.0
4977      65000.0   11529368.0
4978      60000.0      40557.0
4979      70000.0      30084.0
4984      25000.0   10246600.0
4987      65000.0     389804.0
4997      42000.0     241816.0
4998      40000.0     277233.0
5004      30000.0     243768.0
5008     230000.0    3151130.0
5009      27000.0       8231.0
5011      25000.0    2856622.0
5012   35000000.0   10499968.0
5015      23000.0    1227508.0
5021      15000.0     192467.0
5023      15000.0      76382.0
5025      10000.0     180483.0
5026       4500.0     136007.0
5027      10000.0     673780.0
5029    1000000.0      94596.0
5033       7000.0     424760.0
5034       7000.0      70071.0
5035       7000.0    2040920.0
5037       9000.0       4584.0
5042       1100.0      85222.0

[3891 rows x 2 columns]

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [37]:
# Write your code for unit conversion here
movies['budget']=movies['budget'].div(1000000)
movies['gross']=movies['gross'].div(1000000)
movies[['budget','gross']]

        budget       gross
0     237.0000  760.505847
1     300.0000  309.404152
2     245.0000  200.074175
3     250.0000  448.130642
5     263.7000   73.058679
6     258.0000  336.530303
7     260.0000  200.807262
8     250.0000  458.991599
9     250.0000  301.956980
10    250.0000  330.249062
11    209.0000  200.069408
12    200.0000  168.368427
13    225.0000  423.032628
14    215.0000   89.289910
15    225.0000  291.021565
16    225.0000  141.614023
17    220.0000  623.279547
18    250.0000  241.063875
19    225.0000  179.020854
20    250.0000  255.108370
21    230.0000  262.030663
22    200.0000  105.219735
23    225.0000  258.355354
24    180.0000   70.083519
25    207.0000  218.051260
26    200.0000  658.672302
27    250.0000  407.197282
28    209.0000   65.173160
29    150.0000  652.177271
30    200.0000  304.360277
...        ...         ...
4959    0.1000    5.228617
4962    0.0400    0.110536
4964    0.2000    0.059379
4971   15.0000   32.721635
4973    0.0600    3.216970
4975    0.0600    0.536767
4977    0.0650   11.529368
4978    0.0600    0.040557
4979    0.0700    0.030084
4984    0.0250   10.246600
4987    0.0650    0.389804
4997    0.0420    0.241816
4998    0.0400    0.277233
5004    0.0300    0.243768
5008    0.2300    3.151130
5009    0.0270    0.008231
5011    0.0250    2.856622
5012   35.0000   10.499968
5015    0.0230    1.227508
5021    0.0150    0.192467
5023    0.0150    0.076382
5025    0.0100    0.180483
5026    0.0045    0.136007
5027    0.0100    0.673780
5029    1.0000    0.094596
5033    0.0070    0.424760
5034    0.0070    0.070071
5035    0.0070    2.040920
5037    0.0090    0.004584
5042    0.0011    0.085222

[3891 rows x 2 columns]

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [38]:
movies['profit'] = movies.apply(lambda row: row['gross'] - row['budget'], axis=1)

In [39]:
# Write your code for sorting the dataframe here
movies.sort_values(['profit'], ascending=[False])

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.000000,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.000000,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.000000,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.000000,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.500000,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.000000,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.000000,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.000000,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.000000,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.000000,2008.0,9.0,37000,348.316061
439,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,78.000000,2012.0,7.3,140000,329.999255
812,Tim Miller,579.0,363.024263,Action|Adventure|Comedy|Romance|Sci-Fi,Ryan Reynolds,Deadpool,479047,1058.0,English,58.000000,2016.0,8.1,117000,305.024263
186,Francis Lawrence,502.0,424.645577,Adventure|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games: Catching Fire,498397,706.0,English,130.000000,2013.0,7.6,82000,294.645577
697,Steven Spielberg,308.0,356.784000,Adventure|Sci-Fi|Thriller,Wayne Knight,Jurassic Park,613473,895.0,English,63.000000,1993.0,8.1,19000,293.784000
521,Pierre Coffin,306.0,368.049635,Animation|Comedy|Family|Sci-Fi,Steve Carell,Despicable Me 2,286877,284.0,English,76.000000,2013.0,7.5,56000,292.049635
814,Clint Eastwood,490.0,350.123553,Action|Biography|Drama|History|Thriller|War,Bradley Cooper,American Sniper,325264,916.0,English,58.800000,2014.0,7.3,112000,291.323553
338,Andrew Stanton,301.0,380.838870,Adventure|Animation|Comedy|Family,Alexander Gould,Finding Nemo,692482,866.0,English,94.000000,2003.0,8.2,11000,286.838870
582,Andrew Adamson,205.0,436.471036,Adventure|Animation|Comedy|Family|Fantasy|Romance,Rupert Everett,Shrek 2,314630,483.0,English,150.000000,2004.0,7.2,0,286.471036
339,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94.000000,2003.0,8.9,16000,283.019252
1536,Richard Marquand,197.0,309.125409,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode VI - Return of the Jedi,681857,647.0,English,32.500000,1983.0,8.4,14000,276.625409
836,Robert Zemeckis,149.0,329.691196,Comedy|Drama,Tom Hanks,Forrest Gump,1251222,1398.0,English,55.000000,1994.0,8.8,59000,274.691196
2051,Irvin Kershner,223.0,290.158751,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes Back,837759,900.0,English,18.000000,1980.0,8.8,17000,272.158751
2601,Chris Columbus,102.0,285.761243,Comedy|Family,Macaulay Culkin,Home Alone,311075,305.0,English,18.000000,1990.0,7.5,20000,267.761243
236,George Lucas,359.0,380.262555,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode III - Revenge of the Sith,520104,3286.0,English,113.000000,2005.0,7.6,10000,267.262555
161,Sam Raimi,291.0,403.706375,Action|Adventure|Fantasy|Romance,J.K. Simmons,Spider-Man,544665,2012.0,English,139.000000,2002.0,7.3,5000,264.706375
563,Kyle Balda,308.0,336.029560,Action|Animation|Comedy|Family|Sci-Fi,Steve Carell,Minions,142403,275.0,English,74.000000,2015.0,6.4,70000,262.029560
1181,M. Night Shyamalan,234.0,293.501675,Drama|Mystery|Thriller,Bruce Willis,The Sixth Sense,704766,2073.0,English,40.000000,1999.0,8.1,14000,253.501675
2917,Steven Spielberg,385.0,260.000000,Adventure|Drama|Thriller,Roy Scheider,Jaws,412454,962.0,English,8.000000,1975.0,8.0,21000,252.000000
125,Chris Buck,406.0,400.736600,Adventure|Animation|Comedy|Family|Fantasy|Musical,Josh Gad,Frozen,421658,904.0,English,150.000000,2013.0,7.6,58000,250.736600
519,Yarrow Cheney,165.0,323.505540,Animation|Comedy|Family,Steve Coogan,The Secret Life of Pets,24407,155.0,English,75.000000,2016.0,6.8,36000,248.505540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3879,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,Pan,39975,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
145,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
303,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
113,Oliver Stone,248.0,34.293771,Action|Adventure|Biography|Drama|History|Roman...,Anthony Hopkins,Alexander,138863,1390.0,English,155.000000,2004.0,5.5,0,-120.706229
14,Gore Verbinski,450.0,89.289910,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,215.000000,2013.0,6.5,48000,-125.710090
143,Simon Wells,132.0,21.379315,Action|Adventure|Animation|Comedy|Family|Sci-Fi,Elisabeth Harnois,Mars Needs Moms,17590,112.0,English,150.000000,2011.0,5.4,0,-128.620685
62,Lana Wachowski,384.0,47.375327,Action|Adventure|Sci-Fi,Channing Tatum,Jupiter Ascending,139593,720.0,English,176.000000,2015.0,5.4,44000,-128.624673
49,Bryan Singer,338.0,65.171860,Adventure|Fantasy,Eddie Marsan,Jack the Giant Slayer,106416,205.0,English,195.000000,2013.0,6.3,22000,-129.828140
85,Carl Rinsch,218.0,38.297305,Action|Adventure|Drama|Fantasy,Keanu Reeves,47 Ronin,116994,324.0,English,175.000000,2013.0,6.3,35000,-136.702695
2339,Jean-Marie Poiré,8.0,0.146072,Comedy|Family|Fantasy|Sci-Fi,Christian Clavier,Les couloirs du temps: Les visiteurs II,7147,16.0,French,140.000000,1998.0,6.0,136,-139.853928
28,Peter Berg,377.0,65.173160,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,209.000000,2012.0,5.9,44000,-143.826840
1782,Jacques Perrin,100.0,10.762178,Documentary,Jacques Perrin,Winged Migration,10369,153.0,English,160.000000,2001.0,8.0,1000,-149.237822
3877,R. Balki,12.0,0.199228,Comedy|Drama,Vidya Balan,Paa,7295,49.0,Hindi,150.000000,2009.0,7.2,504,-149.800772
91,Robert Zemeckis,188.0,0.665426,Adventure|Animation|Family|Fantasy,Tom Hanks,The Polar Express,120798,444.0,English,165.000000,2004.0,6.6,10000,-164.334574
3659,Prachya Pinkaew,112.0,11.905519,Action|Crime|Drama|Thriller,Jon Foo,The Protector,30210,214.0,Thai,200.000000,2005.0,7.1,0,-188.094481
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.700000,2012.0,6.6,24000,-190.641321
2740,Tony Jaa,110.0,0.102055,Action,Nirut Sirichanya,Ong-bak 2,24570,72.0,Thai,300.000000,2008.0,6.2,0,-299.897945
1016,Luc Besson,111.0,14.131298,Adventure|Biography|Drama|History|War,Paul Brooke,The Messenger: The Story of Joan of Arc,55889,390.0,English,390.000000,1999.0,6.4,0,-375.868702
3311,Chatrichalerm Yukol,31.0,0.454255,Action|Adventure|Drama|History|War,Sarunyu Wongkrachang,The Legend of Suriyothai,1666,47.0,Thai,400.000000,2001.0,6.6,124,-399.545745
1338,John Woo,160.0,0.626809,Action|Adventure|Drama|History|War,Takeshi Kaneshiro,Red Cliff,36894,105.0,Mandarin,553.632000,2008.0,7.4,0,-553.005191
3273,Anurag Basu,41.0,1.602466,Action|Drama|Romance|Thriller,Bárbara Mori,Kites,9673,106.0,English,600.000000,2010.0,6.0,0,-598.397534
3075,Karan Johar,20.0,3.275443,Drama,Shah Rukh Khan,Kabhi Alvida Naa Kehna,13998,264.0,Hindi,700.000000,2006.0,6.0,659,-696.724557
3851,Carlos Saura,35.0,1.687311,Drama|Musical,Mía Maestro,Tango,2412,40.0,Spanish,700.000000,1998.0,7.2,539,-698.312689
4542,Takao Okawara,107.0,10.037390,Action|Adventure|Drama|Sci-Fi|Thriller,Hiroshi Abe,Godzilla 2000,5442,140.0,Japanese,1000.000000,1999.0,6.0,339,-989.962610
3423,Katsuhiro Ôtomo,150.0,0.439162,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1100.000000,1988.0,8.1,0,-1099.560838
2334,Katsuhiro Ôtomo,105.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2127.519898,2004.0,6.9,973,-2127.109510
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809
3005,Lajos Koltai,73.0,0.195888,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2500.000000,2005.0,7.1,607,-2499.804112
3859,Chan-wook Park,202.0,0.211667,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4200.000000,2005.0,7.7,4000,-4199.788333
2988,Joon-ho Bong,363.0,2.201412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,12215.500000,2006.0,7.0,7000,-12213.298588

In [40]:
top10 = movies.sort_values(['profit'], ascending=[False]).head(10)
print(top10)

          director_name  num_critic_for_reviews       gross  \
0         James Cameron                   723.0  760.505847
29      Colin Trevorrow                   644.0  652.177271
26        James Cameron                   315.0  658.672302
3024       George Lucas                   282.0  460.935665
3080   Steven Spielberg                   215.0  434.949459
794         Joss Whedon                   703.0  623.279547
17          Joss Whedon                   703.0  623.279547
509        Roger Allers                   186.0  422.783777
240        George Lucas                   320.0  474.544677
66    Christopher Nolan                   645.0  533.316061

                                        genres         actor_1_name  \
0              Action|Adventure|Fantasy|Sci-Fi          CCH Pounder
29            Action|Adventure|Sci-Fi|Thriller  Bryce Dallas Howard
26                               Drama|Romance    Leonardo DiCaprio
3024           Action|Adventure|Fantasy|Sci-Fi        Harrison Ford
3080                             Family|Sci-Fi         Henry Thomas
794                    Action|Adventure|Sci-Fi      Chris Hemsworth
17                     Action|Adventure|Sci-Fi      Chris Hemsworth
509   Adventure|Animation|Drama|Family|Musical    Matthew Broderick
240            Action|Adventure|Fantasy|Sci-Fi      Natalie Portman
66                 Action|Crime|Drama|Thriller       Christian Bale

                                     movie_title  num_voted_users  \
0                                        Avatar            886204
29                               Jurassic World            418214
26                                      Titanic            793059
3024         Star Wars: Episode IV - A New Hope            911097
3080                 E.T. the Extra-Terrestrial            281842
794                                The Avengers            995415
17                                 The Avengers            995415
509                               The Lion King            644348
240   Star Wars: Episode I - The Phantom Menace            534658
66                              The Dark Knight           1676169

      num_user_for_reviews language  budget  title_year  imdb_score  \
0                   3054.0  English   237.0      2009.0         7.9
29                  1290.0  English   150.0      2015.0         7.0
26                  2528.0  English   200.0      1997.0         7.7
3024                1470.0  English    11.0      1977.0         8.7
3080                 515.0  English    10.5      1982.0         7.9
794                 1722.0  English   220.0      2012.0         8.1
17                  1722.0  English   220.0      2012.0         8.1
509                  656.0  English    45.0      1994.0         8.5
240                 3597.0  English   115.0      1999.0         6.5
66                  4667.0  English   185.0      2008.0         9.0

      movie_facebook_likes      profit
0                    33000  523.505847
29                  150000  502.177271
26                   26000  458.672302
3024                 33000  449.935665
3080                 34000  424.449459
794                 123000  403.279547
17                  123000  403.279547
509                  17000  377.783777
240                  13000  359.544677
66                   37000  348.316061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [41]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(keep='first',inplace=True)

In [92]:
# Write code for repeating subtask 2 here
top10 = movies.sort_values(['profit'], ascending=[False]).head(10)
print(top10)

          director_name  num_critic_for_reviews       gross  \
0         James Cameron                   723.0  760.505847
29      Colin Trevorrow                   644.0  652.177271
26        James Cameron                   315.0  658.672302
3024       George Lucas                   282.0  460.935665
3080   Steven Spielberg                   215.0  434.949459
17          Joss Whedon                   703.0  623.279547
509        Roger Allers                   186.0  422.783777
240        George Lucas                   320.0  474.544677
66    Christopher Nolan                   645.0  533.316061
439           Gary Ross                   673.0  407.999255

                                        genres         actor_1_name  \
0              Action|Adventure|Fantasy|Sci-Fi          CCH Pounder
29            Action|Adventure|Sci-Fi|Thriller  Bryce Dallas Howard
26                               Drama|Romance    Leonardo DiCaprio
3024           Action|Adventure|Fantasy|Sci-Fi        Harrison Ford
3080                             Family|Sci-Fi         Henry Thomas
17                     Action|Adventure|Sci-Fi      Chris Hemsworth
509   Adventure|Animation|Drama|Family|Musical    Matthew Broderick
240            Action|Adventure|Fantasy|Sci-Fi      Natalie Portman
66                 Action|Crime|Drama|Thriller       Christian Bale
439            Adventure|Drama|Sci-Fi|Thriller    Jennifer Lawrence

                                     movie_title  num_voted_users  \
0                                        Avatar            886204
29                               Jurassic World            418214
26                                      Titanic            793059
3024         Star Wars: Episode IV - A New Hope            911097
3080                 E.T. the Extra-Terrestrial            281842
17                                 The Avengers            995415
509                               The Lion King            644348
240   Star Wars: Episode I - The Phantom Menace            534658
66                              The Dark Knight           1676169
439                            The Hunger Games            701607

      num_user_for_reviews language  budget  title_year  imdb_score  \
0                   3054.0  English   237.0      2009.0         7.9
29                  1290.0  English   150.0      2015.0         7.0
26                  2528.0  English   200.0      1997.0         7.7
3024                1470.0  English    11.0      1977.0         8.7
3080                 515.0  English    10.5      1982.0         7.9
17                  1722.0  English   220.0      2012.0         8.1
509                  656.0  English    45.0      1994.0         8.5
240                 3597.0  English   115.0      1999.0         6.5
66                  4667.0  English   185.0      2008.0         9.0
439                 1959.0  English    78.0      2012.0         7.3

      movie_facebook_likes      profit
0                    33000  523.505847
29                  150000  502.177271
26                   26000  458.672302
3024                 33000  449.935665
3080                 34000  424.449459
17                  123000  403.279547
509                  17000  377.783777
240                  13000  359.544677
66                   37000  348.316061
439                 140000  329.999255

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [42]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250=movies.sort_values(by=(['imdb_score']),ascending=False)
IMDb_Top_250=IMDb_Top_250[(IMDb_Top_250.num_voted_users)>25000]
IMDb_Top_250=IMDb_Top_250.head(250)
IMDb_Top_250['Rank']=range(1,251)

In [44]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250.language!='English']

4498        The Good, the Bad and the Ugly
4747                         Seven Samurai
4029                           City of God
2373                         Spirited Away
4259                   The Lives of Others
4921                    Children of Heaven
1298                                Amélie
4105                                Oldboy
2323                     Princess Mononoke
1329              Baahubali: The Beginning
2970                              Das Boot
4659                          A Separation
2829                              Downfall
4033                              The Hunt
2734                            Metropolis
2551                       Pan's Labyrinth
4000              The Secret in Their Eyes
2047                  Howl's Moving Castle
3550                             Incendies
4267                         Amores Perros
3553                           Elite Squad
4461                       The Celebration
3423                                 Akira
2830                        The Sea Inside
2914    Tae Guk Gi: The Brotherhood of War
3456                            Persepolis
4897                  A Fistful of Dollars
3344                       My Name Is Khan
4144                       Central Station
4284                     Waltz with Bashir
2863                 Letters from Iwo Jima
3264                                 Amour
1171                                  Hero
2605        Crouching Tiger, Hidden Dragon
4415                           Nine Queens
3677                            The Chorus
3510                            Veer-Zaara
4640          4 Months, 3 Weeks and 2 Days
Name: movie_title, dtype: object

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [45]:
# Write your code for extracting the top 10 directors here
by_director_name=movies.groupby('director_name')
top10director=(by_director_name['imdb_score'].mean()).sort_values(ascending=[False]).head(10)

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [46]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1']= movies.genres.str.split('|', expand = True)[0]
movies['genre_2']= movies.genres.str.split('|', expand = True)[1]

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847,Action,Adventure
1,Gore Verbinski,302.0,309.404152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0,9.404152,Action,Adventure
2,Sam Mendes,602.0,200.074175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000,-44.925825,Action,Adventure
3,Christopher Nolan,813.0,448.130642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000,198.130642,Action,Thriller
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000,-190.641321,Action,Adventure
6,Sam Raimi,392.0,336.530303,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258.0,2007.0,6.2,0,78.530303,Action,Adventure
7,Nathan Greno,324.0,200.807262,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260.0,2010.0,7.8,29000,-59.192738,Adventure,Animation
8,Joss Whedon,635.0,458.991599,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250.0,2015.0,7.5,118000,208.991599,Action,Adventure
9,David Yates,375.0,301.956980,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250.0,2009.0,7.5,10000,51.956980,Adventure,Family
10,Zack Snyder,673.0,330.249062,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250.0,2016.0,6.9,197000,80.249062,Action,Adventure

In [47]:
movies_by_segment = movies.groupby(['genre_1','genre_2'])

In [49]:
PopGenre=(movies_by_segment['gross'].mean()).sort_values(ascending=[False]).head(5)
PopGenre.head()

genre_1    genre_2
Family     Sci-Fi       434.949459
Adventure  Sci-Fi       228.627758
           Family       118.919540
           Animation    116.998550
Action     Adventure    109.595465
Name: gross, dtype: float64

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [50]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies[movies.actor_1_name=='Meryl Streep']

In [51]:
Leo_Caprio = movies[movies.actor_1_name=='Leonardo DiCaprio']

In [52]:
Brad_Pitt = movies[movies.actor_1_name=='Brad Pitt']

In [53]:
# Write your code for combining the three dataframes here
frames=[Meryl_Streep,Leo_Caprio,Brad_Pitt]
Combined = pd.concat(frames)

In [54]:
# Write your code for grouping the combined dataframe here
by_actor_name=Combined.groupby(['actor_1_name'])

In [55]:
# Write the code for finding the mean of critic reviews and audience reviews here
by_actor_name['num_critic_for_reviews','num_user_for_reviews'].mean()

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!